<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" colors="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <file>./src/index.php</file>
    </exclude>
    <report>
      <clover outputFile="tests/_reports/logs/clover.xml"/>
      <html outputDirectory="tests/_reports/coverage"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Testes Unitarios">
      <directory suffix=".php">./tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxText outputFile="tests/_reports/testdox/executed.txt"/>
  </logging>
</phpunit>
